
= form_with(url: "/orders", method: "get") do
  = label_tag(:q, "Search Orders:")
  = text_field_tag(:q)
  = submit_tag("Search")

=paginate @orders

%table.table
  %th order #
  %th state
  %th email
  -@orders.each do |order|
    %tr
      %td= order.number
      %td= order.state
      %td= order.user.email
      
=paginate @orders