
= form_with(url: "/orders", method: "get") do
  = label_tag(:q, "Search Orders:")
  = text_field_tag(:q)
  = submit_tag("Search")

=paginate @orders

%table.table
  %th order #
  %th state
  %th total
  %th email
  -@orders.each do |order|
    %tr
      %td= link_to(order.number, order_path(order))
      %td= order.state
      %td= "$#{number_with_precision(order.total, precision: 2)}"
      %td= order.user.email
      
=paginate @orders